.intro__title {
    margin: 0 0 48px;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
}

@media screen and (max-width: 1023px) {
    .intro__title {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 767px) {
    .intro__title {
        max-width: calc(100%);
        margin: 0 auto 40px;
        font-size: 32px;
        line-height: 35px;
    }
}