.cover__link {
    max-width: 1184px;
    min-height: min(calc(100vw/1.6), 740px);
    text-decoration: none;
    color: #fff;
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
}

.cover__link::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #2A2C2F;
    transition: opacity .3s ease-in;
    opacity: 0.3;
}

.cover__link:hover::after {
    cursor: pointer;
    opacity: 0.8;
}