.intro {
    max-width: 750px;
    margin-bottom: 92px;
    padding: 0 48px;
}

@media screen and (max-width: 1023px) {
    .intro {
        max-width: 760px;
        padding: 0 24px;
        margin: 0 0 88px;
    }
}

@media screen and (max-width: 767px) {
    .intro {
        max-width: 100%;
        padding: 0 24px;
        margin: 0 auto 64px;
    }
}