.cover__text {
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 245px;
    left: 360px;
    z-index: 1;
    color: #fff;
}

@media screen and (max-width: 1024px) {
    .cover__text {
        top: 195px;
        left: 232px;
    }
}

@media screen and (max-width: 768px) {
    .cover__text {
        top: 115px;
        left: 104px;
    }
}

@media screen and (max-width: 320px) {
    .cover__text {
        top: 33px;
        left: auto;
    }
}